<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.search.mapper.PledgeStatMapper">
  <resultMap id="BaseResultMap" type="com.search.model.PledgeStat">
    <result column="index" jdbcType="BIGINT" property="index" />
    <result column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="pledge_count" jdbcType="BIGINT" property="pledgeCount" />
    <result column="unrest_pledge" jdbcType="DOUBLE" property="unrestPledge" />
    <result column="rest_pledge" jdbcType="DOUBLE" property="restPledge" />
    <result column="total_share" jdbcType="DOUBLE" property="totalShare" />
    <result column="pledge_ratio" jdbcType="DOUBLE" property="pledgeRatio" />
  </resultMap>
  <resultMap id="PledgeStatMap" type="com.search.model.PledgeStatInfo">
    <result column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="pledge_count" jdbcType="BIGINT" property="pledgeCount" />
    <result column="unrest_pledge" jdbcType="DOUBLE" property="unrestPledge" />
    <result column="rest_pledge" jdbcType="DOUBLE" property="restPledge" />
    <result column="total_share" jdbcType="DOUBLE" property="totalShare" />
    <result column="pledge_ratio" jdbcType="DOUBLE" property="pledgeRatio" />
  </resultMap>

  <select id="selectByTscode" parameterType="java.lang.String" resultMap="PledgeStatMap">
    select ts_code,end_date,pledge_count,unrest_pledge,rest_pledge,total_share,pledge_ratio
     from pledge_stat where ts_code like #{tscode,jdbcType=VARCHAR} order by end_date limit 1
  </select>

  <insert id="insert" parameterType="com.search.model.PledgeStat">
    insert into pledge_stat (`index`, ts_code, end_date, 
      pledge_count, unrest_pledge, rest_pledge, 
      total_share, pledge_ratio)
    values (#{index,jdbcType=BIGINT}, #{tsCode,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{pledgeCount,jdbcType=BIGINT}, #{unrestPledge,jdbcType=DOUBLE}, #{restPledge,jdbcType=DOUBLE}, 
      #{totalShare,jdbcType=DOUBLE}, #{pledgeRatio,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.search.model.PledgeStat">
    insert into pledge_stat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="index != null">
        `index`,
      </if>
      <if test="tsCode != null">
        ts_code,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="pledgeCount != null">
        pledge_count,
      </if>
      <if test="unrestPledge != null">
        unrest_pledge,
      </if>
      <if test="restPledge != null">
        rest_pledge,
      </if>
      <if test="totalShare != null">
        total_share,
      </if>
      <if test="pledgeRatio != null">
        pledge_ratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="index != null">
        #{index,jdbcType=BIGINT},
      </if>
      <if test="tsCode != null">
        #{tsCode,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="pledgeCount != null">
        #{pledgeCount,jdbcType=BIGINT},
      </if>
      <if test="unrestPledge != null">
        #{unrestPledge,jdbcType=DOUBLE},
      </if>
      <if test="restPledge != null">
        #{restPledge,jdbcType=DOUBLE},
      </if>
      <if test="totalShare != null">
        #{totalShare,jdbcType=DOUBLE},
      </if>
      <if test="pledgeRatio != null">
        #{pledgeRatio,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>