<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.search.mapper.DailyMapper">
  <resultMap id="BaseResultMap" type="com.search.model.Daily">
    <result column="index" jdbcType="BIGINT" property="index" />
    <result column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="trade_date" jdbcType="VARCHAR" property="tradeDate" />
    <result column="open" jdbcType="DOUBLE" property="open" />
    <result column="high" jdbcType="DOUBLE" property="high" />
    <result column="low" jdbcType="DOUBLE" property="low" />
    <result column="close" jdbcType="DOUBLE" property="close" />
    <result column="pre_close" jdbcType="DOUBLE" property="preClose" />
    <result column="change" jdbcType="DOUBLE" property="change" />
    <result column="pct_chg" jdbcType="DOUBLE" property="pctChg" />
    <result column="vol" jdbcType="DOUBLE" property="vol" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
  </resultMap>

  <resultMap id="StockInfoMap" type="com.search.model.StockInfo">
    <result column="ts_code" jdbcType="VARCHAR" property="tsCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="close" jdbcType="DOUBLE" property="close" />
  </resultMap>

  <select id="GetMaxDate" resultType="java.lang.String">
    select max(trade_date)
    from daily
  </select>

  <select id="SelectByMarket" resultMap="StockInfoMap" parameterType="java.lang.String">
    select ddb.ts_code, `name`, `amount`, `close` from
    (select ts_code, `name` from stock_list where `industry` = #{market,jdbcType=VARCHAR}) `info` join
    (select `ts_code`, `amount`, `close` from `daily` where trade_date = #{date,jdbcType=VARCHAR}) ddb
     on ddb.`ts_code` = `info`.`ts_code`;
  </select>

  <select id="SelectByDate" resultMap="StockInfoMap" parameterType="java.lang.String">
    select ddb.ts_code, `name`, `amount`, `close` from
    (select ts_code, `name` from stock_list limit 1000) `info` join
    (select `ts_code`, `amount`, `close` from `daily` where trade_date = #{date,jdbcType=VARCHAR}) ddb
     on ddb.`ts_code` = `info`.`ts_code`;
  </select>

  <insert id="insert" parameterType="com.search.model.Daily">
    insert into daily (`index`, ts_code, trade_date,
      `open`, high, low, `close`,
      pre_close, `change`, pct_chg,
      vol, amount)
    values (#{index,jdbcType=BIGINT}, #{tsCode,jdbcType=VARCHAR}, #{tradeDate,jdbcType=VARCHAR},
      #{open,jdbcType=DOUBLE}, #{high,jdbcType=DOUBLE}, #{low,jdbcType=DOUBLE}, #{close,jdbcType=DOUBLE},
      #{preClose,jdbcType=DOUBLE}, #{change,jdbcType=DOUBLE}, #{pctChg,jdbcType=DOUBLE},
      #{vol,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.search.model.Daily">
    insert into daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="index != null">
        `index`,
      </if>
      <if test="tsCode != null">
        ts_code,
      </if>
      <if test="tradeDate != null">
        trade_date,
      </if>
      <if test="open != null">
        `open`,
      </if>
      <if test="high != null">
        high,
      </if>
      <if test="low != null">
        low,
      </if>
      <if test="close != null">
        `close`,
      </if>
      <if test="preClose != null">
        pre_close,
      </if>
      <if test="change != null">
        `change`,
      </if>
      <if test="pctChg != null">
        pct_chg,
      </if>
      <if test="vol != null">
        vol,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="index != null">
        #{index,jdbcType=BIGINT},
      </if>
      <if test="tsCode != null">
        #{tsCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        #{open,jdbcType=DOUBLE},
      </if>
      <if test="high != null">
        #{high,jdbcType=DOUBLE},
      </if>
      <if test="low != null">
        #{low,jdbcType=DOUBLE},
      </if>
      <if test="close != null">
        #{close,jdbcType=DOUBLE},
      </if>
      <if test="preClose != null">
        #{preClose,jdbcType=DOUBLE},
      </if>
      <if test="change != null">
        #{change,jdbcType=DOUBLE},
      </if>
      <if test="pctChg != null">
        #{pctChg,jdbcType=DOUBLE},
      </if>
      <if test="vol != null">
        #{vol,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
</mapper>